In [2]:
import pandas as pd
from pathlib import Path

In [10]:
RAW_PATH = Path("../data/raw")

df = pd.concat(
    [pd.read_parquet(p) for p in RAW_PATH.glob("year=*/*.parquet")],
    ignore_index=True
)

df['calendar_date'] = pd.to_datetime(df['calendar_date'])
df['cases'] = df['cases'].astype(float)

print("Data loaded")
df_2020 = df[df['calendar_date'].dt.year == 2020]

print("2020 rows:", len(df_2020))
df_2020.head()
warehouse_cases_2020 = (
    df_2020
    .groupby("warehouse_id")["cases"]
    .sum()
    .reset_index()
)

warehouse_cases_2020.head()

Data loaded
2020 rows: 7695

   warehouse_id       cases
0          6005   6367500.0
1          6014  12685467.0
2          6022  10998979.0
3          6029  11277863.0
4          6041   9781036.0

In [11]:
data = list(warehouse_cases_2020.itertuples(index=False, name=None))
n = len(data)
for i in range(n):
    for j in range(0, n - i - 1):
        
        if data[j][1] > data[j + 1][1]:
            data[j], data[j + 1] = data[j + 1], data[j]

In [7]:
# Convert DataFrame to list of tuples
data = list(warehouse_cases.itertuples(index=False, name=None))
n = len(data)

# Bubble Sort (ascending order by total cases)
for i in range(n):
    for j in range(0, n - i - 1):
        if data[j][1] > data[j + 1][1]:
            data[j], data[j + 1] = data[j + 1], data[j]
sorted_warehouse_df = pd.DataFrame(
    data,
    columns=["warehouse_id", "total_cases"]
)

sorted_warehouse_df.head(10)

   warehouse_id   total_cases
0          7842  7.352544e+07
1          6005  7.682338e+07
2          6041  1.082044e+08
3          6022  1.199545e+08
4          6029  1.253868e+08
5          6014  1.429000e+08

In [12]:
sorted_warehouse_2020 = pd.DataFrame(
    data,
    columns=["warehouse_id", "total_cases_2020"]
)

sorted_warehouse_2020

   warehouse_id  total_cases_2020
0          6005         6367500.0
1          6041         9781036.0
2          7842        10056999.0
3          6022        10998979.0
4          6029        11277863.0
5          6014        12685467.0

In [13]:
import time
import copy

def bubble_sort_runtime(data):
    n = len(data)
    for i in range(n):
        for j in range(0, n - i - 1):
            if data[j][1] > data[j + 1][1]:
                data[j], data[j + 1] = data[j + 1], data[j]

In [14]:
data = list(warehouse_cases_2020.itertuples(index=False, name=None))

data_copy = copy.deepcopy(data)

start_time = time.time()
bubble_sort_runtime(data_copy)
end_time = time.time()

print("Execution time (seconds):", end_time - start_time)

Execution time (seconds): 0.0033164024353027344